{% extends "base/layout_admin.html" %}
{% block content %}
	<body class="login-body">
		<div class="login">
			<form action="/admin/new_login/" method="post" target="fjiojoisdjfidso">
				<h1>
					Welcome to Flask-Blog 
				</h1>
				<div class="form-input">
					<p>Blog title</p>
					<input type="text" name="title"/>
				</div>
				<div class="form-input">
					<p>Author name</p>
					<input type="text" name="author"/>
				</div>
				<div class="form-input">
					<p>Email Address</p>
					<input type="text" name="email"/>
				</div>
				<div class="form-input">
					<p>Password</p>
					<input type="password" name="password"/>		
				</div>
				<div class="form-input breakspace">
					<input type="submit" class="btn" value="Ok, Update this informations" />
				</div>
			</form>
		</div>
	</body>
{% endblock %}