
<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Ghost Admin</title>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" />
    <link rel="stylesheet" href="/static/css/ghost.min.css?v=9ac5c0aa98" />
</head>
<body>
<body class="ember-application manage">


<div id="container" class="ember-view"><a class="sr-only sr-only-focusable" href="#gh-main">Skip to main content</a>

    <nav class="global-nav" role="navigation">

    <a class="nav-item ghost-logo" href="/" title="Visit blog">
        <div class="nav-label"><i class="icon-ghost"></i> <span>Visit blog</span> </div>
    </a>

<a id="ember720" class="ember-view nav-item nav-content js-nav-item active" href="/ghost/">        <div class="nav-label"><i class="icon-content"></i> Content</div>
</a>
<a id="ember721" class="ember-view nav-item nav-new js-nav-item" href="/ghost/editor/">        <div class="nav-label"><i class="icon-add"></i> New Post</div>
</a>
<a id="ember777" class="ember-view nav-item nav-settings js-nav-item" href="/ghost/settings/">        <div class="nav-label"><i class="icon-settings2"></i> Settings</div>
</a>

    <div class="nav-item user-menu">
<div id="ember732" class="ember-view nav-label clearfix closed">            <div class="image"><img src="/shared/img/user-image.png" alt="Profile picture"></div>
            <div class="name">
                renan <i class="icon-chevron-down"></i>
                <small>Profile &amp; Settings</small>
            </div>
</div><div id="ember741" class="ember-view ghost-dropdown dropdown closed fade-out">            <ul class="dropdown-menu dropdown-triangle-top-right js-user-menu-dropdown-menu" role="menu">
                <li role="presentation"><a id="ember809" class="ember-view dropdown-item user-menu-profile js-nav-item" href="/ghost/settings/users/renan/" tabindex="-1"><i class="icon-user"></i> Your Profile</a></li>
                <li role="presentation"><a class="dropdown-item user-menu-support" role="menuitem" tabindex="-1" href="http://support.ghost.org/"><i class="icon-support"></i> Help / Support</a></li>
                <li class="divider"></li>
                <li role="presentation"><a id="ember810" class="ember-view dropdown-item user-menu-signout" href="/ghost/signout/" tabindex="-1"><i class="icon-power"></i> Sign Out</a></li>
            </ul>
</div>    </div>

</nav>

<div class="nav-cover js-nav-cover"></div>


<main id="gh-main" class="viewport" role="main" data-notification-count="0" data-bindattr-688="688">
    <aside id="ember710" class="ember-view notifications top"></aside>
    <aside id="ember711" class="ember-view notifications bottom"></aside>
    <section id="ember669" class="ember-view content-view-container"><header class="page-header">
    <button class="menu-button js-menu-button" data-ember-action="830"><span class="sr-only">Menu</span></button>
    <h2 class="page-title">Content</h2>
</header>

<div class="page-content">
    <section class="content-list js-content-list" data-bindattr-831="831">
        <header class="floatingheader">
            <section class="content-filter">
                <small>All Posts</small>
            </section>
            <a id="ember832" class="ember-view btn btn-green" href="/ghost/editor/" title="New Post"><span class="hidden">New Post</span></a>
        </header>
<section id="ember843" class="ember-view content-list-content js-content-scrollbox">        <ol class="posts-list">
<li id="ember859" class="ember-view active"><a id="ember866" class="ember-view permalink active" href="/ghost/6/" title="Edit this post">                    <h3 class="entry-title">dfasf0-kf-03k0'j0'</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421713319447" class="date published">
                                        Published an hour ago
                                    </time>
                        </span>
                    </section>
</a></li><li id="ember860" class="ember-view"><a id="ember872" class="ember-view permalink" href="/ghost/5/" title="Edit this post">                    <h3 class="entry-title">kf0-wkf0-wkf-0qk0-fkq0-kf0-qwkf0-qk0-</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421713288136" class="date published">
                                        Published an hour ago
                                    </time>
                        </span>
                    </section>
</a></li><li id="ember861" class="ember-view"><a id="ember878" class="ember-view permalink" href="/ghost/4/" title="Edit this post">                    <h3 class="entry-title">f43g44f34f3f</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421713226095" class="date published">
                                        Published an hour ago
                                    </time>
                        </span>
                    </section>
</a></li><li id="ember862" class="ember-view"><a id="ember884" class="ember-view permalink" href="/ghost/3/" title="Edit this post">                    <h3 class="entry-title">fsdfds</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421713200157" class="date published">
                                        Published an hour ago
                                    </time>
                        </span>
                    </section>
</a></li><li id="ember863" class="ember-view"><a id="ember890" class="ember-view permalink" href="/ghost/2/" title="Edit this post">                    <h3 class="entry-title">safdsfsafsd</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421713183767" class="date published">
                                        Published an hour ago
                                    </time>
                        </span>
                    </section>
</a></li><li id="ember864" class="ember-view"><a id="ember896" class="ember-view permalink" href="/ghost/1/" title="Edit this post">                    <h3 class="entry-title">Welcome to Ghost</h3>
                    <section class="entry-meta">
                        <span class="status">
                                    <time datetime="1421709142960" class="date published">
                                        Published 2 hours ago
                                    </time>
                        </span>
                    </section>
</a></li>        </ol>
</section>    </section>
    <section class="content-preview js-content-preview" data-bindattr-844="844">
        <div id="ember681" class="ember-view"><header class="post-preview-header clearfix">
    <button id="ember903" class="ember-view btn btn-default btn-back">Back</button>
    <h2 class="page-title">Preview</h2>
    <button type="button" class="unfeatured" data-bindattr-904="904" title="Feature this post" data-ember-action="905">
        <span class="hidden">Star</span>
    </button>
    <small class="post-published-by">
        <span class="status">Published</span>
        <span class="normal">by</span>
        <span class="author">renan</span>
    </small>
    <section class="post-controls">
        <a id="ember906" class="ember-view btn btn-default post-edit" href="/ghost/editor/6/"> Edit</a>
    </section>
</header>

<section id="ember915" class="ember-view content-preview-content">    <div class="wrapper">
        <h1>dfasf0-kf-03k0'j0'</h1>
        <p>9023j9039i4092342</p>
    </div>
</section></div>
    </section>
</div>
</section>
</main>




</div></body>
</body>
</html>
