<div class="extra-pagination inner">
    {{pagination}}
</div>
{% if posts %}
    {% for post in posts %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{{blog.url}}{{post.id_post}}">{{post.title}}</a></h2>
            </header>
            <section class="post-excerpt">
                <p>{% filter markdown %}{{post.content}}{% endfilter %} <a class="read-more" href="{{post.url}}">&raquo;</a></p>
            </section>

            <footer class="post-meta">
                <img class="author-thumb" src="{{blog.author.image}}" alt="Author image" nopin="nopin" />
                {{post.author}}
                on 
                <a href="/tag/getting-started/">Getting Started</a>
                <time class="post-date" datetime="19 JANUARY 2015">19 JANUARY 2015</time>
            </footer>
        </article>
    {% endfor %}
{% else %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title">
                <a href="{{blog.url}}">
                    404 - Not Found
                </a>
            </h2>
        </header>
        <section class="post-excerpt">
            <p>
                Nenhuma postagem encontrada
            </p>
        </section>
    </article>
    <div style="height:85px;"></div>
{% endif %}


{{pagination}}
